{% load staticfiles %}
<html>
    <head>
        <title>Hla task</title>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper" class="content">
            <header>
                <div class="banner">
                    <h1><a href="{% url 'home' %}">Hla task</a></h1>
                    <div class="sign">
                        {% if user.is_authenticated %}
                        <div class="account">
                            <div class="u-name">
                                <img src="#">
                                <a href="/">{{ user }}</a>
                            </div>
                            <div class="head-dropdown">
                                <div><a>Edit Profile</a></div>
                                <div><a>Projects</a></div>
                                <div><a>Teams</a></div>
                                <div>
                                    <a href="{% url 'account:logout' %}">Logout</a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="login">
                            <a href="{% url 'account:login' %}">Login</a>
                        <div>
                        <div class="sign-in">
                            <a href="{% url 'account:create-user' %}">Register</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </header>
            <div id="main">
                {% block main %}
                {% endblock %}
            </div>
            <footer>
            <div class="copy">
                &copy Hla core team
            </div>
            </footer>
        </div>
    </body>
</html>
